* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  color: #000000;
  background-color: #ffffff;
}

h1 {
  font-size: calc(1.75vw + 5px);
  color: #fff;
}
.welcome {
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 1.75vw);
  color: #ff679c;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-family: "Vibur", sans-serif;
}

.welcome {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.01em;
  animation: typing 3.5s steps(40, end) infinite,
    blink-caret 0.6s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff679c;
  }
}

.about {
  padding-bottom: 15px;
  font-size: calc(1vw + 0.3vh);
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
}

strong {
  color: #ff679c;
}

.container {
  width: 1200px;
  margin: 0 auto;

  position: relative;
}

.main-header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 10px solid #ff679c;
  margin-bottom: 35px;
  background-color: #000000;
}

.main-header a {
  color: #ff679c;
}

.pages {
  display: flex;
  gap: 50px;
  font-size: calc(1vw + 0.5vh);
}

.fa {
  padding: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #ffffff;
}

a {
  /* color: #1098ad; */
  color: #ff679c;
}
a:link {
  /* color: #1098ad; */
  color: #ff679c;
  text-decoration: none;
}

a:visited {
  color: none;
}

a:hover {
  color: #f9a6f1;
  font-weight: bold;
  font-size: 110%;
}

a:active {
  font-style: none;
  color: #f9a6f1;
}

footer {
  text-align: center;
  width: 100%;
  height: 60px; /* Height of the footer */
}

.icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  color: #ff679c;
  margin-bottom: 10px;
}

.icon {
  color: #ff679c;
}

.interests {
  text-transform: uppercase;
  text-align: center;
  color: #ff679c;
  margin-bottom: 10px;
}

.interests-nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.box {
  box-shadow: 0 5px 10px rgba(120, 46, 46, 0.2);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
  padding: 120px 20px;
  border: aqua;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

/* .box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  position: relative;
} */
*/ .sub-container {
  background-color: #0b0b0b;
}

.sub-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 270px;
}

.about-container {
  display: flex;
  /* padding: 15%; */
  align-items: stretch;
  text-align: center;
}

.about-me,
.contact-me,
.contact-me-here {
  margin: 20px;
}

.about-me {
  text-align: center;
  color: #ff679c;
}

.slurb {
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 40px;
  font-size: calc(10px + 0.4vw);
}

.familiar-langs,
.familiar-design-programs {
  margin-bottom: 10px;
}

.familiar-langs,
.familiar-design-programs {
  color: #ff679c;
}

.languages-p1,
.programs {
  list-style-type: none;
}

.languages-p1 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* padding: 10px 0; */
}

.programs {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.click-here {
  margin-bottom: 20px;
}

.pfp {
  margin: 100px;
  margin-bottom: 50px;
  width: 27%;
  height: 27%;
  object-fit: cover;
}

.see-resume {
  text-align: center;
}

.resume {
  width: 150px;
  height: 50px;
  font-size: calc(15px + 0.75vw);
  background-color: #ff679c;
  color: #fff;
  border-color: #000;
}

.interests-nav a:link {
  color: #ff679c;
  text-decoration: none;
}

/* .interests-nav a:visited {
  color: none;
} */

.interests-nav a:hover {
  color: #f9a6f1;
  font-weight: bold;
}

.interests-nav a:active {
  font-style: none;
  color: #f9a6f1;
}

.icons {
  color: #ff679c;
}

.icons a:link {
  color: #ff679c;
  text-decoration: none;
}

/* .icons a:visited {
  color: none;
} */

.icons a:hover {
  color: #f9a6f1;
  font-weight: bold;
}

.icons a:active {
  font-style: none;
  color: #f9a6f1;
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ff679c);
  margin: -2px -6px;
  padding: 2px 6px;
}

.movie-ticket-system {
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
}

.shanghai-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 60px;
}

.shanghai-imgs {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.video-container video {
  max-width: 100%;
  height: auto;
}

.coding-projects {
  margin-top: 20px;
  font-family: input-mono, monospace;
  font-weight: 300;
  font-style: normal;
  color: #ff679c;
  /* font-size: 72px; */
  font-size: calc(55px + 1vw);
}

.coding-projects,
.movie {
  text-align: center;
}

.movie-vid {
  display: block;
  margin: auto;
}

.team-members {
  margin-bottom: 10px;
  font-size: calc(0.55vw + 5px);
}

.pdf-container {
  width: 100%;
  height: 750px;
  padding: 40px 130px;
}

.lc212-details {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.click-here {
  margin-top: 10px;
}

.contact-me {
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 20px #0b0b0b;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #000000;
  font-family: Arial;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  /* font-size: 15px; */
  font-size: calc(12px + 0.5vw);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  /* font-size: 15px; */
  font-size: calc(12px + 0.5vw);
  border: 2px solid #80808033;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  /* font-size: 24px; */
  font-size: calc(15px + 0.5vw);
  border-radius: 8px;
  color: #ff679c;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}
button[type="submit"]:hover {
  color: #f9a6f1;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: #f9a6f1;
  animation: status 1s ease forwards;
}

#status.error {
  background-color: #1098ad;
  animation: status 1s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Illustrations */

.my-illustrations {
  text-align: center;
  font-family: chaloops, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #ff679c;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  /* padding: 25px; */
  margin: 25px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 10;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 10;
}

.gallery__item--5 {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 13;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 10;
}

.gallery__item--8 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 13;
}

.gallery__item--9 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 14;
}

.gallery__item--10 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 15;
}

.gallery__item--12 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 13;
  grid-row-end: 14;
}

.gallery__item--11 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 15;
  grid-row-end: 16;
}

/* My Designs */
.design-container {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.my-designs {
  font-family: "Cursive";
  font-size: 64px;
  text-align: center;
  margin-bottom: 80px;
}

.GoFoods {
  background-color: #000000;
  padding: 20px;
}

.GoFoods-title {
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
  border-bottom: 3px solid #ff679c;
}

.GoFoods-description {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.GoFoods-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.GoFoods-img {
  width: 1120px;
  height: 380px;
  object-fit: cover;
}

.GoFoods-imgdescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.VB-title,
.misc-title {
  text-align: center;
  padding-bottom: 25px;
}

.VB-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.VisualBalance {
  background-color: #f9a6f1;
  padding: 40px;
}

.VB-title {
  color: #fff;
}

.VB-img {
  object-fit: cover;
}

.VB-description {
  text-align: center;
}

.misc-title {
  font-size: 40px;
  font-family: "Cursive";
  margin-top: 150px;
}

.BUWA-gif,
.Movie-Night,
.ClubPromo {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.container,
.programming-container,
.about-container,
.design-container,
.misc-container {
  width: 100%;
}

/* image slider */
.misc-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  height: 70vh;
  margin-bottom: 40px;
}

.slider-wrapper {
  width: 80rem;
  height: 375px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: -10px;
  display: flex;
  pointer-events: none;
  transition: 0.4s ease-out;
}

.slider-item {
  margin: 0 15px;
  width: 350px;
  height: 350px;
}

.slider-item img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.slider-wrapper .prev,
.slider-wrapper .next {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  line-height: 58px;
  border-radius: 50%;

  color: #ff679c;
  background-color: #ffffff;
  font-size: 40px;
  cursor: pointer;
}

.slider-wrapper .fa {
  padding: 0;
  width: 0;
  height: 0;
  padding-right: 10px;
}

.slider-wrapper .prev {
  left: 15px;
  width: 5%;
  height: auto;
}

.slider-wrapper .next {
  right: 15px;
  width: 5%;
  height: auto;
}

.slider-wrapper .prev:hover,
.slider-wrapper .next:hover {
  color: #000000;
  background-color: #ff679c;
}

@media (max-width: 768px) {
  .slider-wrapper {
    left: 0;
  }

  .slider-wrapper .prev,
  .slider-wrapper .next {
    display: none;
  }
}

@media (max-width: 700px) {
  .pdf-container {
    width: 100%;
    padding: 40px 0;
  }

  .welcome {
    display: none;
  }

  .interests-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .about {
    display: none;
  }

  .main-header {
    flex-direction: column;
    gap: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .pages {
    font-size: calc(15px + 0.25vw);
    justify-content: space-between;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pfp {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px 0;
  }
}
